@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
  min-width: 1040px;
}

body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 960px;
}

header,
footer,
h1,
/* h2,
h3, */
h4,
aside {
  color: #000;
  font-family: "PT Sans", sans-serif;
}

h1 {
  text-align:center;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}
h4{
	text-align:center;
 } 
/*h2 {
  margin-top: 2em;
}*/
h4{
	font-size: 100%;
}

h1, h4 {
  text-rendering: optimizeLegibility;
}

/* h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}
 */
footer {
  font-size: small;
  margin-top: 8em;
}

header aside {
  margin-top: 88px;
}

header aside,
footer aside {
  color: #636363;
  text-align: right;
}

aside {
  font-size: small;
  right: 0;
  position: absolute;
  width: 180px;
}

/* .attribution {
  font-size: small;
  margin-bottom: 2em;
} */


body > p, li > p {
  /* line-height: 1.5em; */
     line-height: 5%;
}

body > p {
  width: 720px;
}

 .multicolor1{
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="green" cx="5" cy="5" r="5"/></svg>');
  width: 640px;
  } 
 .multicolor2{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="magenta" cx="5" cy="5" r="5"/></svg>');
   width: 640px;
}
 .multicolor3{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="blue" cx="5" cy="5" r="5"/></svg>');
width: 640px;
} 
 .multicolor4{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="orange" cx="5" cy="5" r="5"/></svg>');
  width: 640px;
} 
  .multicolor5{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="brown" cx="5" cy="5" r="5"/></svg>');
  width: 640px;
}  
  .multicolor6{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="pink" cx="5" cy="5" r="5"/></svg>');
   width: 640px;
}  
  .multicolor7{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="purple" cx="5" cy="5" r="5"/></svg>');
   width: 640px;
}  
  .multicolor8{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="violet" cx="5" cy="5" r="5"/></svg>');
    width: 640px;
}  
  .multicolor9{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="yellow" cx="5" cy="5" r="5"/></svg>');
   width: 640px;
}  
  .multicolor10{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="red" cx="5" cy="5" r="5"/></svg>');
   width: 640px;
}  
  .multicolor10{list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="red" cx="5" cy="5" r="5"/></svg>');
  width: 640px;
  } 

 /*  ul>li {
  width: 640px;
} 




body > blockquote {
  width: 640px;
}

blockquote q {
  display: block;
  font-style: oblique;
} 

 li {
  width: 800px;
}
 
a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
} 
 */
.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

 .comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
} 

svg {
  font: 10px sans-serif;
  /*margin:10%;*/
  padding:40px 40px 40px 40px;
 /*margin:-40%;*/
  /*float: right;*/
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* sup, sub {
  line-height: 0;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

blockquote:before {
  position: absolute;
  left: 2em;
}

blockquote:after {
  position: absolute;
}  */

/* Popup container - can be anything you want */
.canvas {
    position: relative;
	width: 800px;
	height: 810px;
}
/* .popup  {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 200px;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 8px;
    font-family: arial, helvetica, sans-serif;
} */
.popup  {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 450px;
	height:450px;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 8px;
    font-family: arial, helvetica, sans-serif;
	line-height:5%;

}
.popup h2 {
    margin: 0 0 1rem 0;
}

